/* Do not repeat yoursef */
/* list selector */
h1,
li,
p,
h1,
h2 {
  font-family: "Courier New", Courier, monospace;
}

h1,
li {
  text-transform: uppercase;
}

/* desendent selector */
/* changes the immediate child of footer p */
/* not robust */
/* we caan make it more robust by making a desendent1 desendent2 disendent3 ... */
/* ed article header p to select p as the last child element with header -> aertical as its progressing parent */
footer p {
  color: brown;
}

/* selects all the p elements on the page */
h1 {
  color: blue;
  font-family: 26px;
  font-style: italic;
  text-align: center;
}

/* selects all the p elements on the page */
h2 {
  font-size: 40px;
  color: rgb(69, 69, 69);
}

/* selects all the p elements on the page */
/* p {
  font-size: 22px;
  /* line height will be 1.5 times the text height 
  line-height: 1.5;
} */

/* note how we dont apply the stype on the ul or li */
.remove-style {
  /* removes default styling */
  list-style: none;
}

#authoer {
  font-family: "Times New Roman", Times, serif;
  color: aqua;
}

.related-aauthor {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lawngreen;
  padding: 30px;
  border-radius: 10px;
  margin: 50px;
}

/* .first-li {
  font-weight: bold;
} */

/* will select all the firstchild li elsements of its parent element <ol> or <ul> */
/* remebr li must be the first child wont work if any othere element comes befor it */
li:first-child {
  font-weight: bold;
}

/* we can do last child */

li:last-child {
  background-color: rgb(150, 150, 150);
}

/* we can also specify which child  insted of 2 you can but odd even in the arg*/
li:nth-child(2) {
  background-color: blueviolet;
}

/* Link styling rember LVHA  link -> visited -> hover -> active*/
a:link {
  color: aqua;
  text-decoration: none;
}

a:visited {
  color: rgb(93, 255, 255);
}
a:hover {
  line-height: 21px;
  text-decoration: underline wavy orange;
}

a:active {
  background-color: blue;
  font-style: italic;
}

/* resolving conflict */
/* psudo classes have higher priority */

#copyright {
  color: red;
}

.copyright {
  color: blue;
}

.text {
  color: yellow;
}

/* not encoraged to do important has the highest priority */
footer p {
  color: green !important;
}

.navigater {
  background-color: bisque;
  width: 700px;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
}

.navigater a {
  padding: 15px;
  display: inline;
  background-color: aliceblue;
  font-size: 20px;
}

body {
  position: relative;
}

.like_love {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;

  /* stays stuck to an abslut postion */
  /* position: absolute; */

  /*  to a relative position in this case the body*/
  position: absolute;
  bottom: 50px;
  right: 50px;
}
