.hero-img {
  /* 100% to the parent container which is the hero image which we set to 1fr*/
  width: 100%;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.section--hero {
  background-color: #fdf2e9;
  /* padding: 9.6rem; */

  padding: 4.8rem 0 9.6rem 0;
}

.btn:link,
.btn:visited {
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
  /* make inline block because links a is always an inline element*/
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  /* animation what we wat to animate and the duration*/
  transition: all 0.5s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
}
.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}

.btn--outline:link,
.btn--outline:visited {
  color: #e67e22;
}

.btn--outline:hover,
.btn--outline:active {
  color: #cf711f;

  /* trick to add border incide shadow working -> downArow spread color*/
  /* inset will make the shadow come incide the box */
  box-shadow: inset 0 0 20px 3px #fff;
}

/* space to the right for button important is used as priority*/
.margin-right-sm {
  margin-right: 1.6rem !important;
}

.delevered-meals {
  margin-top: 6.4rem;
  display: flex;
  align-items: center;
}
.delevered-imgs {
  display: flex;
}

.delevered-imgs img {
  height: 6.4rem;
  width: 6.2rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.delevered-imgs img:last-child {
  margin: 0;
}

.delevered-text {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0 1.6rem;
}

.delevered-text span {
  color: #cf711f;
}

/* after top section */

.section-how {
  padding: 19.6px 0;
}

.step-img {
  width: 35%;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  color: #333;
  letter-spacing: -0.5px;
  font-weight: 700;
}

.heading-secondary {
  font-size: 4.4rem;
  margin-bottom: 6.4rem;
}

.subheading {
  display: block;
  font-size: 2rem;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
  margin-top: 3.2rem;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.heading-tertiary {
  font-size: 3.6rem;
  line-height: 1.2;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  /* height: 60%; */
  /* 60 % of parents width */
  position: absolute;

  /* positioning */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  width: 60%;
  padding-bottom: 60%;
  z-index: -2;
  background-color: #fdf2e9;
}

.step-img-box::after {
  /* positioning */
  width: 50%;
  padding-bottom: 50%;
  z-index: -1;
  background-color: #f5e3d2;
}

/* feature in Section */

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;

  /* checnges how images are rendered */
  filter: grayscale(100%);

  /* if you want everything to be gray */
  filter: brightness(0);

  /* to make it grayesh */
  opacity: 50%;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-name {
  color: #cf711f;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}
.plan-price {
  font-size: 7.4rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}
.plan-text {
  font-weight: 1.6rem;
  line-height: 1.6;
  font-size: 1.8rem;
  color: #6f6f6f;
}
.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}

.plan-sign-up {
  text-align: center;
  margin-top: 4.8rem;
}

.pricing-plan {
  background-color: #f5e3d2;
  border-radius: 11px;
  width: 75%;
}

.pricing-plan--starter {
  /* this will shift the right card to the left  */
  justify-self: end;
  background-color: #fff;
  border: 2px solid #f5e3d2;
  padding: 4.6rem;
}

.pricing-plan--complete {
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}

.pricing-plan--complete::after {
  content: "Best Value";
  position: absolute;
  top: 5%;
  right: -18%;

  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: #ffd43b;

  padding: 0.8rem 8.2rem;
  transform: rotate(45deg);
}

/* CTA SECTION */

.section-cta {
  padding: 9.6rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* background-color: #e67e22; */
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.17);
  border-radius: 11px;
  height: 50rem;
  /* the gradient */
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  overflow: hidden;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 152, 78, 0.3),
      rgba(230, 126, 34, 0.3)
    ),
    /* when using a url use a root path */ url("../img/eating.jpg");
  /* fits the content to cover the element */
  background-size: cover;
  background-position: center;
}
